<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruoxue.backend.mapper.TAdminMapper">

	<select id="getAdminList" resultType="java.util.Map">
		select a.*, b.name as roleName, b.value as roleValue from t_admin a, t_role b where a.roleid = b.id and a.status = 1
		order by a.id DESC limit #{page}, #{size}
	</select>

	<select id="getRemoveAdminLids" resultType="java.lang.Integer">
		select lid from t_admin where status = 3
	</select>

	<delete id="removeAdmin">
		delete from t_admin where status = 3
	</delete>

	<select id="getTAdminByUid" resultType="org.ruoxue.backend.bean.TAdmin">
		select * from t_admin where id = #{id}
	</select>

	<select id="listCustomer" resultType="org.ruoxue.backend.bean.TCustomer">
		select *
		from t_admin where status = 1
		order by id DESC limit #{page}, #{size}
	</select>

	<update id="updateAdmin">
		update t_admin set name = #{name} where id = #{id}
	</update>

	<select id="getAdminAndRole" resultType="java.util.Map">
		select a.*,b.name as roleName, b.value as roleValue from t_admin a, t_role b where a.roleid = b.id and a.id = #{id}
	</select>

	<update id="updateAdminByJson">
		update t_admin set name = #{name}, roleid = #{roleid}, phone = #{phone}
		 where id = #{id}
	</update>

</mapper>
