<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruoxue.backend.mapper.TCompanyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ruoxue.backend.bean.TCompany">
		<id column="id" property="id" />
		<result column="uid" property="uid" />
		<result column="parent" property="parent" />
		<result column="lpname" property="lpname" />
		<result column="tax_type" property="taxType" />
		<result column="vat_type" property="vatType" />
		<result column="ysa_range" property="ysaRange" />
		<result column="pre_tax_ratio" property="preTaxRatio" />
		<result column="va_tax_ratio" property="vaTaxRatio" />
		<result column="vatr_freq" property="vatrFreq" />
		<result column="cb_tax" property="cbTax" />
		<result column="ea_tax" property="eaTax" />
		<result column="lea_tax" property="leaTax" />
		<result column="river_tax" property="riverTax" />
		<result column="ent_org_type" property="entOrgType" />
		<result column="inv_type" property="invType" />
		<result column="business_type" property="businessType" />
		<result column="tax_pack_start" property="taxPackStart" />
		<result column="tax_pack_end" property="taxPackEnd" />
		<result column="ori_tax_pack_start" property="oriTaxPackStart" />
		<result column="ori_tax_pack_end" property="oriTaxPackEnd" />
		<result column="tm_first_ec" property="tmFirstEc" />
		<result column="status" property="status" />
	</resultMap>

	<select id="listCompany" resultType="java.util.Map">
		select * from t_company
		where 1 = 1
		<if test="uid != -1">
			and uid = #{uid}
		</if>
		order by id DESC limit #{page}, #{size}
	</select>

	<select id="listCompanyAll" resultType="java.util.Map">
		select * from t_company
		where 1 = 1
		<if test="uid != -1">
			and uid = #{uid}
		</if>
		order by id DESC
	</select>

	<select id="getCompany" resultType="org.ruoxue.backend.bean.TCompany">
		select * from t_company
		where 1 = 1
		<if test="uid != -1">
			and uid = #{uid}
		</if>
		and id = #{cid}
	</select>

	<delete id="deleteCompany">
		delete from t_company
		where 1 = 1
		<if test="uid != -1">
			and uid = #{uid}
		</if>
		and id = #{cid}
	</delete>

	<delete id="deleteCompanys">
		delete from t_company
		where 1 = 1
		<if test="uid != -1">
			and uid = #{uid}
		</if>
	</delete>

</mapper>
