<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruoxue.backend.mapper.TCustomerMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ruoxue.backend.bean.TCustomer">
		<id column="uid" property="uid" />
		<result column="lid" property="lid" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="industry" property="industry" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="wechat" property="wechat" />
		<result column="qq" property="qq" />
		<result column="fax" property="fax" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="district" property="district" />
		<result column="address" property="address" />
		<result column="avatar" property="avatar" />
		<result column="other_contact" property="otherContact" />
		<result column="paid" property="paid" />
		<result column="balance" property="balance" />
		<result column="rec_type" property="recType" />
		<result column="reg_date" property="regDate" />
		<result column="status" property="status" />
	</resultMap>

	<select id="getRemoveCustomerLids" resultType="java.lang.Integer">
		select lid from t_customer where status = 3
	</select>

	<delete id="removeCustomer">
		delete from t_customer where status = 3
	</delete>

	<select id="getTCustomerByUid" resultType="org.ruoxue.backend.bean.TCustomer">
		select * from t_customer where uid = #{uid}
	</select>



</mapper>
