<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruoxue.backend.mapper.TDictAreasMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ruoxue.backend.bean.TDictAreas">
		<id column="id" property="id" />
		<result column="city_code" property="cityCode" />
		<result column="area_code" property="areaCode" />
		<result column="area_name" property="areaName" />
	</resultMap>

	<select id="getDistrictByCityId" resultType="java.lang.String">
		select area_name from t_dict_areas where city_code = #{city_id}
	</select>

</mapper>
