<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruoxue.backend.mapper.TLogsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ruoxue.backend.bean.TLogs">
		<id column="id" property="id" />
		<result column="aid" property="aid" />
		<result column="tm" property="tm" />
		<result column="description" property="description" />
		<result column="cls" property="cls" />
	</resultMap>

	<select id="listLogs" resultType="java.util.Map">
		(select a.*, b.name from t_logs a ,t_admin b where a.aid=b.id
			<if test="search != null and search != ''">
				and (a.description like concat('%', #{search}, '%')  or b.name like concat('%', #{search}, '%'))
			</if>
		)
		union
		(select a.*, '系统' as name from t_logs a where a.aid=-1
			<if test="search != null and search != ''">
				and  a.description like concat('%', #{search}, '%')
			</if>
		)
		order by id desc limit #{page}, #{size}
	</select>

	<select id="countListLogs" resultType="java.util.Map">
		(select a.*, b.name from t_logs a ,t_admin b where a.aid=b.id
			<if test="search != null and search != ''">
				and (a.description like concat('%', #{search}, '%')  or b.name like concat('%', #{search}, '%'))
			</if>
		)
		union
		(select a.*, '系统' as name from t_logs a where a.aid=-1
			<if test="search != null and search != ''">
				and  a.description like concat('%', #{search}, '%')
			</if>
		)
	</select>

</mapper>
