<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruoxue.backend.mapper.TSigninMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ruoxue.backend.bean.TSignin">
		<id column="id" property="id" />
		<result column="password" property="password" />
		<result column="token" property="token" />
		<result column="salt" property="salt" />
		<result column="msgcode" property="msgcode" />
	</resultMap>

	<select id="getSigninByUid" resultType="org.ruoxue.backend.bean.TSignin">
        select id, password, token, salt, msgcode, role from t_signin where id = #{id}
    </select>

	<delete id="removeSign">
		delete from t_signin where id = #{id}
	</delete>

	<update id="updatePassword">
		update t_signin set password = #{password} where id = #{id}
	</update>

	<select id="listSelf" resultType="java.util.Map">
		select * from t_customer where aid = #{id}
		<if test="search != null and search !=''">
			and (id = #{search} or name like concat('%', #{search}, '%'))
		</if>
		order by uid desc limit #{page}, #{size}
	</select>

	<select id="listGroup" resultType="java.util.Map">
		select * from t_customer where aid in (
			select aid from t_admin where gid = (
				select gid from t_admin where id = 3
			)
		)
		<if test="search != null and search !=''">
			and (uid = #{search} or name like concat('%', #{search}, '%'))
		</if>
		order by uid desc limit #{page}, #{size}
	</select>

	<select id="listAll" resultType="java.util.Map">
		select * from t_customer
		<if test="search != null and search !=''">
			where (uid = #{search} or name like concat('%', #{search}, '%'))
		</if>
		order by uid desc limit #{page}, #{size}
	</select>

</mapper>
