<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruoxue.backend.mapper.TTaxAccountMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ruoxue.backend.bean.TTaxAccount">
		<id column="id" property="id" />
		<result column="uid" property="uid" />
		<result column="cid" property="cid" />
		<result column="ty_apt_ratio" property="tyAptRatio" />
		<result column="balance" property="balance" />
	</resultMap>

	<select id="listGroup" resultType="java.util.Map">
		select year(a.tm_op) year, a.cid, b.name, sum(a.change_amount) sumAmount from t_tax_account_detail a
		left join t_company b on a.cid = b.id
		where 1 = 1
		<if test="cid != null and cid != ''">
			and a.cid = #{cid}
		</if>
		<if test="yfrom != null and yfrom != ''">
			<![CDATA[
				and a.tm_op > #{yfrom}
			]]>
		</if>
		<if test="yto != null and yto != ''">
			<![CDATA[
				and a.tm_op < #{yto}
			]]>
		</if>
		group by a.cid, year(a.tm_op) limit #{page}, #{size}
	</select>

	<select id="listTaxDetail" resultType="java.util.Map">
		select * from t_tax_account_detail
		where 1 = 1
		<if test="cid != null and cid != ''">
			and cid = #{cid}
		</if>
		<if test="mfrom != null and mfrom != ''">
			<![CDATA[
				and tm_op > #{mfrom}
			]]>
		</if>
		<if test="mto != null and mto != ''">
			<![CDATA[
				and tm_op < #{mto}
			]]>
		</if>
		order by id desc limit #{page}, #{size}
	</select>

</mapper>
